body {
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.header,
.menu,
main {
  display: flex;
  justify-content: space-between;
}
a{
  color: inherit;
  text-decoration: none;
}
.header{
  background-color: #d3b714;
  align-items:center;
  padding: 15px;
  flex: 0 0 auto;
  position: relative;
}
.menu{
  padding-top: 10px;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #d3b714;
  visibility: hidden;
  display: block;
  width: 100%;
  margin: 0;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  z-index: 20;
} 
.menu-item {
  margin-bottom: 10px;
  padding: 10px 0;
}
.menu-item:hover{
  transition: all .3s ease-in-out;
  background-color: #CFD8DC;
  color: blue;
  text-decoration: underline;
}
.nav{
  display: flex;
}
.nav-burger{
  position: absolute;
  left: -9999px;
  opacity: 0;
  visibility: hidden;
}
.burger{
  display: inline-block;
  position: relative;
  width: 26px;
  height: 16px;
  cursor: pointer;
}
.burger span,
.burger:before,
.burger:after{
 position: absolute;
 height: 2px;
 left: 0;
 right: 0;
 background-color: #000;
 border-radius: 2px;
}
.burger:before{
  content: "";
  top: 0;
}
.burger:after{
  content: "";
  bottom: 0;
}
.burger span{
  top: 50%;  
  transform: translateY(-50%);
}
.nav-burger:checked + .burger span{
  opacity: 0;
  visibility: hidden;
}
.nav-burger:checked + .burger:before{
  top: 5px;
  transition: transform .3s ease-in-out;
  transform: rotate(45deg);
}
.nav-burger:checked + .burger:after{
  top: 5px;
  transition: transform .3s ease-in-out;
  transform: rotate(-45deg);
}
.nav-burger:checked~.menu-item{
  display: block;
  width: 100%;
}
#burger-btn:checked~.menu {
  visibility: visible;
  top: 80px;
}
main{
  flex-direction: column;
  text-align: center;
  flex: 1 1 auto;
}
.section{
  order: 1;
  padding: 15px;
}
.section-text{
  padding: 20px;  
}
.section-title{
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 25px;
}
.work{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.work-item{
  width: 285px;
  min-height: 345px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
  border: 2px solid #8e8e8e;
  border-radius: 20px;
  margin-bottom: 15px;
  background: #fff;
  transition: all .3s;
}
.work-item:hover{
  background: #fcf5cf;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.work-item:hover .work-img{
  border: 10px solid #d1c99d;
}
.work-img {
  border: 10px solid #c7b7b7;
  border-radius: 50%;
  flex: 0 0 auto;
  margin-bottom: 20px;
}
.work-title{
  font-weight: bold;
  flex: 0 0 auto;
  margin-bottom: 20px;
}
.work-text{
  flex: 1 1 auto;
}
.work-link{
  padding: 7px 19px;
  border-radius: 12px;
  color: #fff;
  background-color: #685174;
  flex: 0 0 auto;
  transition: all .3s;
}
.work-link:hover{
  background-color: #d3b714;
}
.aside1{
  background-color: #c798b9;
  min-width: 210px;
  text-align: center;
  order: 2;
  padding: 15px 0;
}
.aside2 {
  background-color: #9cb1c7;
  min-width: 210px;
  order: 3;
  padding: 15px 0;
}
.holder {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  height: 80px;
  border: 3px solid black;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  align-items: center;
}
.item{
  padding: 10px;
  height: 50%;
  flex: 0 0 auto;
}
.item:first-child{
  order: 1;
  width: 50%;
  background-color: red;
  flex: 1 1 auto;
}
.item:nth-child(2) {
  width: 33%;
  background-color: SteelBlue;
  flex: 0 0 auto;
  order: 4;
}
.item:nth-child(3) {
  background-color: purple;
  flex: 0 0 auto;
  order: 3;
  width: 33%;
}
.item:nth-child(4){
  width: 33%;
  flex: 1 1 auto;
  background-color: green;
  order: 5;
}
.item:last-child {
  order: 2;
  width: 50%;
  background-color: orange;
  flex: 0 0 auto;
}

.footer{
  background-color: #86ec86;
  text-align: center;
  padding: 10px 0 3px;
  flex: 0 0 auto;
}
@media(min-width: 768px){
  .burger{
    display: none;
  }
  .menu{
    padding-top: 0;
    position: static;
    display: flex;
    align-items: center;
    background: transparent;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
  }
  .menu-item {
    margin-bottom: 0;
    padding: 0;
  }
  .menu-item+.menu-item {
    padding-left: 15px;
  }
  .menu-item:hover {
    background: transparent;
  }
  .main {
    flex-direction: row;
  }
  .section {
    order: 2;
  }
  .aside1 {
    order: 1;
  }
 }